__pycache__
addonLambdaServer
.vscode

addDB.json


addonLambdaServer/executeController/oauth_credentials.json
addonLambdaServer/*/*/*
!addonLambdaServer/layers/castodia/*
addonLambdaServer/*/*.zip
!addonLambdaServer/executeController
!addonLambdaServer/manageController
addonLambdaServer/.application.json
addonLambdaServer/toUpload/
addonLambdaServer/sensitive/
addonLambdaServer/.DS_Store

CastodiaDatabaseController/*
!CastodiaDatabaseController/CastodiaErrorClass.py
!CastodiaDatabaseController/db_psycopg2.py
!CastodiaDatabaseController/helpers.py
!CastodiaDatabaseController/lambda_function.py
!CastodiaDatabaseController/req.txt
!CastodiaDatabaseController/six.py

CastodiaEmailController/*
!CastodiaEmailController/CastodiaErrorClass.py
!CastodiaEmailController/db_psycopg2.py
!CastodiaEmailController/helpers.py
!CastodiaEmailController/lambda_function.py
!CastodiaEmailController/req.txt
!CastodiaEmailController/six.py

CastodiaManagerController/*
!CastodiaManagerController/_cffi_backend.cpython-38-x86_64-linux-gnu.so
!CastodiaManagerController/distutils-precedence.pth
!CastodiaManagerController/easy_install.py
!CastodiaManagerController/google_api_core-1.23.0-py3.8-nspkg.pth
!CastodiaManagerController/google_auth_httplib2.py
!CastodiaManagerController/google_auth-1.23.0-py3.8-nspkg.pth
!CastodiaManagerController/googleapis_common_protos-1.52.0-py3.8-nspkg.pth
!CastodiaManagerController/lambda_function.py
!CastodiaManagerController/protobuf-3.14.0-py3.8-nspkg.pth
!CastodiaManagerController/req.txt
!CastodiaManagerController/six.py


CastodiaQueryController/*
!CastodiaQueryController/CastodiaErrorClass.py
!CastodiaQueryController/db_psycopg2.py
!CastodiaQueryController/helpers.py
!CastodiaQueryController/lambda_function.py
!CastodiaQueryController/req.txt
!CastodiaQueryController/six.py

CastodiaStripeController/*
!CastodiaStripeController/CastodiaErrorClass.py
!CastodiaStripeController/db_psycopg2.py
!CastodiaStripeController/helpers.py
!CastodiaStripeController/lambda_function.py
!CastodiaStripeController/req.txt
!CastodiaStripeController/six.py

CastodiaWorkspaceController/*
!CastodiaWorkspaceController/CastodiaErrorClass.py
!CastodiaWorkspaceController/db_psycopg2.py
!CastodiaWorkspaceController/helpers.py
!CastodiaWorkspaceController/lambda_function.py
!CastodiaWorkspaceController/req.txt
!CastodiaWorkspaceController/six.py